
  div.col > fieldset {
    min-width: min-content;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5.6px;
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid black;
  }
  
  div.col > fieldset > legend {
    font-size: inherit;
    float: none;
    margin-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
    width: auto;
  }
  
  fieldset > div.btn-group > input.btn {
    font-size: small;
  }
  
  .large-arrow {
    font-weight: bold;
    font-size: larger;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  .btn-round-left {
    border-bottom-left-radius: 6px !important;
    border-top-left-radius: 6px !important;
  }
  
  input[type="radio"]:checked + label {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
  }
  
  .rating {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .rating[data-content="Informational"] {
    color: blue;
  }
  
  .rating[data-content="Low"] {
    color: green;
  }
  
  .rating[data-content="Medium"] {
    color: orange;
  }
  
  .rating[data-content="High"] {
    color: red;
  }